# Ignore target configs and output
output/
target/
config/
config-trace/
dist/

# Ignore Maven Wrapper binary files
.mvn/wrapper/maven-wrapper.jar

### Ignore generated picture
mecard_*.png
qr_*.png
*.jpg
*.jpeg
*.svg

### Ignore Maven configuration file ###
### For NVD API key ###
.mvn/maven.config

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea/sonarlint/
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionary.xml
.idea/vcs.xml
.idea/shelf/
.idea/logs/
*.iws
*.iml
*.ipr
pom.xml.versionsBackup

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Python (Virtual Environments) ###
.venv/
venv/
ENV/
env/
.env
.python-version
pip-log.txt
pip-delete-this-directory.txt

# Diagnostic and Traces
*.trace
*.hprof
*.log
run_configs.txt
hs_err_pid*
replay_pid*

### IA ###
.aider*
