name: Test and SonarQube Analysis

on:
  push:
    branches:
      - develop
  pull_request:
    branches:
      - develop

jobs:
  test_and_analyze:
    name: Test and SonarQube Analysis
    runs-on: windows-latest

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'liberica'
          java-version: '21'
          cache: 'maven'

      - name: Compile, Test, and analyze with Maven profile
        shell: cmd
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn -B test -f pom.xml ^
          org.sonarsource.scanner.maven:sonar-maven-plugin:sonar ^
          -Dsonar.projectKey=Lob2018_CanScan ^
          -Dsonar.qualitygate.wait=true ^
          -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml
